<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UnitTestLoginPage.Properties.Settings.haConnection"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\hassa\Desktop\Stuff\4220\haLoginPage\Assignment1\HAdatabase.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="BookStoreTests.Properties.Settings.haConnection" connectionString="Data Source=tfs.cspc1.uwindsor.ca;Initial Catalog=AgileDB20A8;Persist Security Info=True;User ID=AgileDB20A8;Password=AgileDB20A8"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>